.wrapper {
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;
}

.card {
  border: 1px solid #ddd;
  border-radius: 12px 32px 12px 12px;
  padding: 1rem;
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-width: 144px;
  min-height: 195px;
  align-items: center;
  justify-content: center;
}

.titlecard {
  font-weight: 500;
  size: 16px;
  color: #323232;
}

.card img {
  width: 122px;
  max-height: 122px;
}

.btn {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem;
  background: black;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  background-color: #ff9f24;
}

.footerCard {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
